// Футер
@import "../variables";
@import "../../../node_modules/bootstrap/scss/variables";

.buy-end {
  background-size: cover;
  background-image: url('../../images/header.jpg');
  background-position: 50% 50%;
  padding: 0 0 5rem 0;

  &__header {
    margin: 6rem 0 0 0;
    text-align: center;
    flex: 0 1 85%;

    h3 {
      font-size: 2.8rem;
    }

    span {
      color: #0496ff;
    }

    @media (max-width: map-get($grid-breakpoints, 'sm')) {
      h3 {
        font-size: 2.4rem;
      }
    }

    @media (max-width: 478px) {
      h3 {
        font-size: 2.2rem;
      }
    }

    @media (max-width: 340px) {
      h3 {
        font-size: 2rem;
      }
    }
  }

  &__left {
    display: flex;
    justify-content: flex-end;

    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      justify-content: center;
    }
  }

  &__right {
    //background: #ececec;
    display: flex;
    justify-content: center;
  }

  &__form {
    margin: 7rem 0 0 0;
  }
}

.end-form {
  position: relative;
  max-width: 700px;
  margin: 4rem 45px 1rem;
  background: #ffffff;
  border-radius: 30px;

  &__left-decoration,
  &__right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: transparent;
    border-radius: 20px;
  }

  &__left-decoration {
    bottom: 60px;
    left: -30px;

    &::before {
      top: -20px;
    }

    &::after {
      top: 20px;
      left: 10px;
    }
  }

  &__right-decoration {
    top: 60px;
    right: -30px;

    &::before {
      top: -20px;
      right: 0;
    }

    &::after {
      top: 20px;
      right: 10px;
    }
  }

  &__left-decoration::before,
  &__left-decoration::after,
  &__right-decoration::before,
  &__right-decoration::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
  }

  &__circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
  }

  &__inner {
    padding: 50px;

    input {
      display: block;
      width: 100%;
      padding: 4px 20px;
      margin-bottom: 10px;
      background: #E9EFF6;
      line-height: 40px;
      border-width: 0;
      border-radius: 20px;

      &:focus, {
        border: none;
        outline: none;
      }
    }

    input[type="submit"] {
      margin-top: 30px;
      background: #008edb;
      border-bottom: 4px solid #0c5278;
      color: white;
      font-size: 1.3rem;

      &:hover {
        background: #109ce5;
      }

      @media (max-width: 380px) {
        font-size: 1.3rem;
        white-space: normal;
      }
    }

    @media (max-width: 500px) {
      padding: 30px;
    }

    @media (max-width: 380px) {
      padding: 15px;
    }
  }

  &__agreement {
    text-align: center;
    margin: 1.3rem 0 0 0;

    span {
      color: red;
    }
  }

  &__header {
    margin: 0 0 2rem;
    font-weight: 600;
    font-size: 2rem;
    color: #454545;
    text-align: center;

    @media (max-width: 380px) {
      font-size: 1.6rem;
    }

    @media (max-width: 300px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 380px) {
    margin: 4rem 0px 1rem;
  }
}

.policy {
  background: #444444;
  &__link {
    display: block;
    text-align: center;
    padding: 30px 10px;
    color: #fff !important;
    font-size: 1.2rem;

    &:hover {
      color: #87c8ff !important;
    }
  }

  h3 {
    margin: 0;
  }
}