@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/reboot";

@import "base";
.link-base {
  font-size: 2rem;
  margin: 25px 0 0 0;
  display: block;
}
@import "policy-text";