// Шапка
@import "../variables";

.header {
  background: #fafafa;

  &__wrapper {
    background: url("../../images/header.jpg") 50% 65% no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 91%, 50% 100%, 0 91%, 0% 60%, 0 0);
    height: 980px;
    background-size: cover;
    position: relative;
  }

  &__black-i12 {
    position: absolute;
    right: 100px;
    bottom: 125px;
    width: 200px;
    transition: all .4s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__top {
    padding: 150px 0 0 0;
  }

  &__top-i12 {
    text-align: center;
    font-size: 3.3rem !important;
    font-weight: 700;
  }

  &__top-i12desc {
    text-align: center;
    font-size: 2.5rem !important;
    font-weight: 600;
  }

  &__top-i12desc2 {
    font-size: 1.9em !important;
    margin-top: 40px;
    font-weight: 600;
  }

  &__advantages {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 60px 0 0 auto;
    width: 390px;
  }

  &__advantages-item {
    padding: 15px 0 0 35px;
    background-image: url("../../images/check.svg");
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-size: 25px;
  }

  &__buy {
    padding: 15px 50px;
    background: rgba(27, 99, 160, 0.87);
    //color: #0066ff;
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 1.5rem;
    color: #ffffff;
    transition: all ease .4s;

    &:hover {
      background: rgba(255, 255, 255, 0.18);
      border: 1px solid rgba(85, 85, 85, 0.7);
      color: #262626;
    }
  }

  &__form {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.21);
    padding: 25px;
    border-radius: 25px;
    display: inline-block;
    margin: 0 0 10px;
    text-align: center;
  }

  &__mobile-hint {
    font-size: 1.3rem;
  }

  &__mobile-number {
    display: block;
    margin: 0 auto 25px;
    width: 280px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    padding: 15px 0;
    border-bottom: solid 1px $mobile-color;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    background-size: 280px 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $mobile-color 4%) no-repeat -280px 0;
    color: darken($mobile-color, 20%);

    &:invalid {
      box-shadow: none;
    }

    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      //&::placeholder {
      //  color: $mobile-color;
      //  font-size: 11px;
      //  transform: translateY(-20px);
      //  visibility: visible !important;
      //}
    }

    //&::placeholder {
    //  transition: all 0.3s ease-in-out;
    //}
  }

  &__form-end {
    margin: 15px 0 0 0;
    font-size: 1.2rem;
    text-align: center;
    & span {
      color: red;
      font-weight: 600;
    }
  }

  &__required {
    color: red;
  }
}