// Страница политики конфиденциальности
.policy-text {
  padding: 30px 0 0 0;
  &__title {
    font-size: 1.6rem;
  }

  &__section {
    font-size: 1.3rem;
    margin-top: 1.8rem;
  }

  ol {
    margin-left: 15px;
  }

  p {
    margin: 0;
  }
}