// Базовые стили
html,
body {
  overflow-x: hidden;
  min-width: 240px;
  font-family: $font-family-sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/** Общее **/
body {
  min-width: 240px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-display: swap;
}

.wrapper {
  overflow: hidden;
  min-width: 240px;
  padding: 0;
  margin: 0;
}

a,
a:active,
a:link,
a:visited,
a:focus {
  color: $link-color;
  transition: color 0.3s ease 0s;
}

a:hover {
  text-decoration: none;
  color: $link-hover-color;
}

.section-header {
  text-align: center;
  padding: 6rem 10px 3rem;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    gont-size: 2.2rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 15px;
    height: 1px;
    background: #ebebeb;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 4px;
    border: 5px solid #fff;
    border-radius: 20px;
    background: #2977af;
  }
}

button,
button:active,
button:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  outline: none !important;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.text-blue {
  color: #0c82d0;
}

.hdn {
  display: none !important;
}
