$font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$color-blue: #2179d6;
$mobile-color: #051652;
$link-color: #282828;
$link-hover-color: $color-blue;
$link-hover-decoration: none;
$primary: $color-blue;