// Отзывы
@import "../variables";
@import "../../../node_modules/bootstrap/scss/variables";

.reviews {
  position: relative;
  padding: 0 0 6rem;
  background-image: url('../../images/i12-together.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  &__header {
    padding: 6rem 10px 7rem;

    &::before {
      bottom: 64px;
      background: #717171
    }

    &::after {
      bottom: 56px;
      width: 16px;
      height: 16px;
      border: none;
      background: rgb(75, 75, 75);
    }

    @media (max-width: map-get($grid-breakpoints, 'sm')) {
      h2 {
        font-size: 2.4rem;
      }
    }

    @media (max-width: 478px) {
      h2 {
        font-size: 2.2rem;
      }
    }

    @media (max-width: 340px) {
      h2 {
        font-size: 2rem;
      }
    }
  }

  &__main {
    margin: 2.4rem 100px 0;
    @media (max-width: 1300px) {
      margin: 2.4rem 0 0;
    }
  }

  &__img {
    width: 100%;
    margin-top: 30px;
  }
}